/* add your CSS here */
img{
    height: 300px;
    width: 300px;
    
}

body{
    font-family: sans-serif;
    border: 1px solid gray;
    width:515px;
    height:790px;
    
    
}

.trading-card{
    width:75%;
    background-color: bisque;
    margin: 10px 35px;
    padding: 10px 30px 10px 30px;
    box-shadow: 5px 10px 10px black;   
}

.text-sorter{
    border: 1px solid black;
    
}
p{
    
    font-size: small;
}
.interesting-fact{
    font-style: italic;
    font-size:medium;
}


h3{
    font-size:25px;
    width:25px;
    
    
}
.title-of-animal{
    flex-wrap: wrap;
    display:flex;
    float:left;
    box-sizing:border-box;

}

ul{
    list-style:none;
    padding:0px;
    margin:0px;
    
}

span{
    font-weight: bold;
    
    
}
